---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "February 2023 - July 2023",
    title: "PC Alfaz - Computer technician",
    description:
      "Configuration and maintenance of equipment, installation of software, repair of systems, assembly of equipment ensuring quality and safety, rethink the wiring of a local network, install and configure local wired networks, data recovery, prepare budgets, advise and assist the customer, apply safety protocols, quality and respect for the environment.",
  },
  {
    date: "June 2022 - September 2022",
    title: "Atmosfera Sport - Warehouse handler",
    description:
      "",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
