<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-neutral-200 dark:bg-black/50
      backdrop-blur-2xl
    `}
  >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#Education"
      >Education</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#Experience"
      >Experience</a
    >
    <a class="hover:bg-white/10 rounded-full px-3 transition" href="#Projects"
      >Projects</a
    >
    <a
      class="hover:bg-white/10 rounded-full px-3 transition"
      href="https://drive.google.com/file/d/1oJEpulqngW_iCG4QriHhlKdXjd12I9YG/view?usp=sharing"
      download>CV</a
    >
  </nav>
</header>
